@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


@import "tailwindcss";
@theme {
  --font-chivo: 'Chivo', sans-serif;
  --font-lora: 'Lora', serif;
}

@plugin "daisyui" {
  themes: silk --default, business --prefersdark;
}